In [1]:
import requests
import bs4 as bs

In [2]:
link = "https://www.varzesh3.com/news/2122191/"

In [3]:
response = requests.get(link)

In [4]:
html = bs.BeautifulSoup(response.content)

In [5]:
title = html.find( "h1",class_ = "headline").get_text()

In [6]:
div = html.find("div",class_ = "news-main-detail")

In [7]:
view = int(float(div.find_all("span")[2].get_text().split(" ")[0][:-1]) * 1000)

In [8]:
view

203300

In [9]:
div.find_all("span")[3].get_text().split(" ")[0][1:-2]

'124'

In [10]:
tags = html.find("div",class_ = "news-tag").find_all("div",class_ ="tag")
for tag in tags :
    print(tag.find("span").get_text())

تیم والیبال فولاد سیرجان
لیگ برتر والیبال
اروین انگاپت
والیبال

In [11]:
import pandas as pd

In [12]:
page = "https://www.varzesh3.com/news/2122191/"

In [13]:
titles = []
views = []

In [14]:
for i in range(2122100,2122191):
    link = page + str(i)
    resp = requests.get(link)
    html = bs.BeautifulSoup(response.content)
    try:
        title = html.find("h1",class_="headline").get_text()
        view = html.find("div",class_ = "news-main-detail").find_all("span")[2].get_text().split(" ")[0][:-1]
        titles.append(title)
        views.append(view)
    except AttributeErorr:
        continue

In [15]:
dataset = pd.DataFrame(columns=["title","view"])

In [16]:
dataset["title"] = titles
dataset["view"] = views

In [17]:
dataset

                               title   view
0   رسمی: بمب والیبال ایران منفجر شد  203.3
1   رسمی: بمب والیبال ایران منفجر شد  203.3
2   رسمی: بمب والیبال ایران منفجر شد  203.3
3   رسمی: بمب والیبال ایران منفجر شد  203.3
4   رسمی: بمب والیبال ایران منفجر شد  203.3
..                               ...    ...
86  رسمی: بمب والیبال ایران منفجر شد  203.3
87  رسمی: بمب والیبال ایران منفجر شد  203.3
88  رسمی: بمب والیبال ایران منفجر شد  203.3
89  رسمی: بمب والیبال ایران منفجر شد  203.3
90  رسمی: بمب والیبال ایران منفجر شد  203.3

[91 rows x 2 columns]